<html>
  <head>
    <title>Blog card</title>
  </head>

  <body>
    <div class="flex-container">
      <div class="container">
        <div class="square">
          <img src="./assets/Images/coburg.jpg" class="mask" />
          <div class="h1">COBURG BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/croissant bread.jpg" class="mask" />
          <div class="h1">CROISSANT BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Crumpets.jpg" class="mask" />
          <div class="h1">CRUMPETS BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/naan-bread.jpg" class="mask" />
          <div class="h1">NAAN BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
