<html>
  <head>
    <title>Blog card</title>
  </head>

  <body>
    <div class="flex-container">
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Almond_Macaroons1.jpg" class="mask" />
          <div class="h1">ALMOND MACAROONS</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Kolacky4.jpg" class="mask" />
          <div class="h1">KOLACKY BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Krapfen2.jpg" class="mask" />
          <div class="h1">KRAPFEN BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/brown_bread.jpg" class="mask" />
          <div class="h1">BROWN BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a
              href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261"
              target="_"
              class="button"
              >BUY NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
