<html>
  <head>
    <title>Blog card</title>
  </head>

  <body>
    <div class="flex-container">
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Almond_Macaroons1.jpg" class="mask" />
          <div class="h1">ALMOND MACAROONS</div>
          <p class="price">$19.99</p>

          <div>
            <a routerLink="/user-cart/{{'$19.99'}}/{{'Almond_Macaroons1.jpg'}}/{{'ALMOND MACAROONS'}}" class="button">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Kolacky4.jpg" class="mask" />
          <div class="h1">KOLACKY BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a routerLink="/user-cart/{{'$19.99'}}/{{'Kolacky4.jpg'}}/{{'KOLACKY BREAD'}}" class="button">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/Krapfen2.jpg" class="mask" />
          <div class="h1">KRAPFEN BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a routerLink="/user-cart/{{'$19.99'}}/{{'Krapfen2.jpg'}}/{{'KRAPFEN BREAD'}}" class="button">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="square">
          <img src="./assets/Images/brown_bread.jpg" class="mask" />
          <div class="h1">BROWN BREAD</div>
          <p class="price">$19.99</p>

          <div>
            <a routerLink="/user-cart/{{'$19.99'}}/{{'brown_bread.jpg'}}/{{'BROWN BREAD'}}" class="button">BUY NOW</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
